numpy==1.26.3
scipy==1.13.1
matplotlib==3.9.1
pyqt5==5.15.11
vtk==9.0.2
mayavi==4.8.2
torch==2.4.0
gpytorch==1.12
geoopt==0.5.0
tqdm==4.66.4
pandas==2.2.2
networkx==3.2.1
torchvision==0.19.0
geometric_kernels==0.2.1
stochman==0.3.0

-e .